* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	white-space: normal;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #E4E4E1;
	/* background-image: linear-gradient(to bottom right, #243b55 0%, #141e30 100%); */
	background: 
		linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), 
		linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 	background-blend-mode: multiply;  
 	background-repeat: no-repeat;
}

a {
  color: #E4E4E1;
}

button:focus {
	outline: none;
}

.img-responsive {
  /* display: block; */
  width: auto;
  height: 265px;
	max-width: 100%;
	border-radius: 5px;
} 

.mb-1 {
	margin-bottom: 1rem;
}

.container {
	width: 75rem;
	max-width: 100%;
	margin: 0 auto;
	padding: 3rem 0.5rem;
}

.intro {
	margin-bottom: 3rem;
  text-align: center;
}

.slider {
  color: #444;
  position: relative;
  width: 100%;
	height: 305px;
	margin: 0 auto;
}

.slider__viewport {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 100%;
	border-radius: 5px;
	margin: 0 auto;
	background-color: #E4E4E1;
	background-image: 
		radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), 
		linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
	background-blend-mode: normal, multiply;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.slider__slides {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  line-height: 1;
  z-index: 10;
}

.slider__button {
	font-size: 4rem;
	line-height: 2;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
	z-index: 20;
	color: #E4E4E1;
	opacity: 0.8;
}

.slider__button__svg {
	fill: #E4E4E1;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

.slider__button__svg:hover {
	fill: rgba(250, 184, 3, 0.877);
}

.slider__button--prev {
  left: 10px;
}

.slider__button--next {
  right: 10px;
}

.slide-list__item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: left 0.4s;
}

.slide-list__content-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content-area__img {
	flex: 30%;
	align-self: flex-start;
}

.content-area__text {
	flex: 70%;
	max-width: 70%;
	text-align: left;
	word-wrap: normal;
}

.heading-2 {
	margin-bottom: 2rem;
	text-align: center;
}

.slider-pager {
	/* position: absolute;
	bottom: -150px; */
	width: 100%;
	margin-top: 3rem;
  text-align: center;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.slider-pager__item {
  border: none;
  /* border-radius: 50%; */
  width: 5rem;
  /* line-height: 2rem; */
  padding: 0;
  /* margin: 0 5px; */
	background: none;
	opacity: 0.5;
}

.slider-pager__img {
	width: 100%;
	height: 5rem;
}
